figure {
    width: 75%;
    height: 75%;
}

.gallery_causes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .gallery_causes {
        flex-direction: row;
    }

    figure {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 1000px) {
    figure {
        width: 33%;
        height: 33%;
    }
}