* {
    background-color: #1fa859;
}

header {
    background-color: #1fa8a3;
    padding: 3%;
}

footer {
    background-color: #1fa8a3;
    padding: 1%;
}

h1 {
    font-size:xx-large;
    padding: 1%;
}

h2 {
    font-size: x-large;
    text-align: center;
}

h3 {
    font-size: large;
    text-align: center;
}

p {
    padding: 1%;
}

figcaption {
    padding: 1%;
    text-align: center;
}

a.active {
    color: red;
    text-decoration: none;
}

/* used to have skip to content not on page when page is loaded.
Only there when it is focused on.*/
.header {
    overflow: hidden;
    position: relative;
}

.skip {
    background-color: black;
    color: red;
    position: absolute;
    padding: 5px;
    height: 100px;
    width: 100px;
    right: -100px;
    top: 200px;
}

.skip:focus {
    height: auto;
    width: auto;
    right: 300px;
    top: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}